@import "../common_styles/input";

*, *::before, *:after {
  box-sizing: border-box;
}

#books-column {
  float: left;
  width: 40%;
}

#readers-column {
  float: left;
  width: 40%;
}

#action-column {
  float:left;
  width: 20%;
}

.main-column {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 50px;
}

body {
  font-family: 'Open Sans';
}