@import "_raw";
@import "_navbar";
@import "_mobile_overlay";
@import "_icomoon";

*, *::before, *:after {
  box-sizing: border-box;
}

#content {
  width: $total-width;
  margin: auto;
  margin-top: 1.7 * $main-column-inner-padding;
}

body {
  font-family: $bl_font_family;
  font-size: $bl_font_size;
  margin: 0;
}

input, textarea, keygen, select, button {
  font-family: $bl_font_family;
}

.promise {
  color: $bl_blue_border;
  width: 100%;
}

[class^="icon-"], [class*=" icon-"] {
  color: $bl_grey_background;
  text-decoration: none;

  & a:visited {
    color: $bl_grey_background;
  }
}