@import "_raw";

$input-vertical-padding: 10px;
$input_border-color: $bl_grey_border;
$input_border_focus_color: $bl_blue_border;
$input_button_background: $bl_grey_background;
$input-text-line-height: 18px;
$input-height: 42px;
$input-border: 1px;
$main-action-border: 3px;
$form-sub-message-gap: 2 * $input-vertical-padding;

*, *:before, *:after {
  box-sizing: border-box;
}

.input-common {
  border-radius: 4px;
  padding: ($input-height - $input-text-line-height - 2 * ($input_border))/2 8px;
  font-size: $bl_font_size;
  font-family: $bl_font_family;
  &:focus {
    outline: none;
  }
}

input[type="text"], input[type="password"] {
  @extend .input-common;
  border: $input_border solid $input-border-color;
  margin: 0;
  color: black;
  -moz-appearance: none;
  -webkit-appearance: none;

  &:focus {
    outline: none;
    border-color: $input_border_focus_color;
  }
}

input[type="submit"] {
  @extend .input-common;
  color: white;
  background-color: $input_button_background;
  border: none;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.formInputText {
  input {
    margin-top: $input-vertical-padding;
    display: block;
    width: 100%;
    height: $input-height;
  }
}

select {
  @extend .input-common;
  width: 100%;
  margin-top: $input-vertical-padding;
  height: $input-height;
}

.action-button {
  @extend .input-common;
  color: white;
  background-color: $bl_blue_background;
  cursor: pointer;
  border: none;
  height: $input-height;
}

.second-action-button {
  color: $bl_blue_border;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.input-group {
  margin-bottom: 140px;
}

.form-sub-message {
  margin-top: $form-sub-message-gap;
}