@import './_input';

#mobile-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 920px;
  background: rgba(255,255,255,0.9);
  padding: 50px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .message{
    font-size: 32px;
  }

  button {
    height: 75px;
    width: 250px;
    margin-top: 50px;
    font-size: 32px;
  }
}