@import "_raw";

#navbar {
  width: $total-width - 2 * $main-column-outer-padding;
  height: $navbar-height;
  padding-top: $navbar-padding-top;
  border-bottom: $bl_grey_border 1px solid;
  margin: auto;
  position: relative;

  &__logo {
    text-align: center;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    color: $bl_grey_background;
  }

  &__logout {
    right: 0;
    top: 0;
    position: absolute;
    padding-top: 30px;
    font-size: $bl_small_font_size;
  }
}
