$bl_grey_border: #cccccc;
$bl_grey_background: #505050;
$bl_blue_border: #0074bf;
$bl_blue_background: #26b3cc;
$bl_black: #222222;

$bl_font_size: 15px;
$bl_font_family: "Open Sans";

$main-column-inner-padding: 40px;
$main-column-outer-padding: 60px;