$bl_grey_border: #cccccc;
$bl_grey_background: #505050;
$bl_blue_border: #0074bf;
$bl_blue_background: #2980b9;
$bl_black: #222222;

$bl_font_size: 15px;
$bl_font_family: "Open Sans";

$total-width: 1100px;
$navbar-height: 60px;
$navbar-padding-top: 20px;
$main-column-inner-padding: 40px;
$main-column-outer-padding: 60px;