@import "common/_base";
@import "common/_raw";

#content {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.leftCol {
  #about-pic {
    height: 400px;
    margin: 0 auto;
    display: block;
  }

  display: inline-block;
  padding-left: 3 * $main-column-outer-padding;
}

.rightCol {
  display: inline-block;
  width: 400px;
  margin-left: 120px;

  #about-links {
    margin-top: 15px;
    font-size: 30px;
    cursor: default;
  }

  .about-link {
    margin-right: 15px;
  }
}

