@import "common/_base";
@import "common/_raw";

#content {
  margin-top: 40px;
}

#about-msg {
  width: 500px;
  margin: auto;
}

#about-pic {
  width: 500px;
  height: auto;
  margin: 0 auto;
  display: block;
}
