@import "common/_raw";
@import "common/_input";
@import "common/_base";

.lendingBox {
  .bookBox {
    float: left;
    width: 40%;
    padding-left: $main-column-outer-padding;
    padding-right: $main-column-inner-padding;
  }
  .borrowerBox {
    float: left;
    width: 40%;
    padding-left: $main-column-inner-padding;
    padding-right: $main-column-outer-padding;
  }
  .actionBox {
    float: left;
    width: 20%;
    padding-top: 31px;

    .main-action-button {
      width: 80%;
      margin: 0 10%;
    }

    .main-status-label {
      height: $input-height;
      line-height: $input-height;
      text-align: center;

      + .second-action-button {
        margin-top: 20px;
      }
    }
  }
}

.main-column {
  padding-left: 40px;
  padding-right: 40px;
}
