@import "common/_raw";
@import "common/_input";
@import "common/_base";

$select-box-height: 100px;

.lendingBox {
  .leftCol {
    float: left;
    width: 40%;
    padding-left: $main-column-outer-padding;
    padding-right: $main-column-inner-padding;
    .book-status {
      text-align: right;
      padding-top: 8px;
    }
    .select-list {
      height: $select-box-height;
    }
  }
  .rightCol {
    float: left;
    width: 40%;
    padding-left: $main-column-inner-padding;
    padding-right: $main-column-outer-padding;
    .select-list {
      height: $select-box-height;
    }
  }
  .actionBox {
    float: left;
    width: 20%;
    padding-top: 29px;

    .action-button {
      width: 80%;
      margin: 0 10%;
    }
  }
}

.main-column {
  padding-left: 40px;
  padding-right: 40px;
}
