@import "common/_input";
@import "common/_raw";
@import "common/_base";

.leftBox {
  width: 50%;
  float: left;
  padding-left: 100px;
  padding-right: 20px;
  padding-top: 50px;

  .promise {
    font-size: 33px;
  }
}

.rightBox {
  width: 40%;
  float: right;
  padding-left: 20px;
  padding-right: 100px;

  .errorMessage {
    height: 40px;
  }

  form {
    input {
      width: 100%;
    }
  }
}