@import "common/_input";
@import "common/_raw";
@import "common/_base";

.leftBox {

}

.rightBox {
  width: 40%;
  float: right;
  padding-left: $main-column-inner-padding;
  padding-right: $main-column-outer-padding;

  form {
    input {
      width: 100%;
    }
  }
}