{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=920">
  <title>{% block title %}{% endblock %}</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic,300,300italic'
          rel='stylesheet' type='text/css'>
  {% block head_javascript %}{% endblock %}
  {% block style_sheets %}{% endblock %}
  {% block libs_js%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  {% endblock %}
</head>
<body>
  {% include "__navbar.html" %}
  <div id="content">
    {% block content %}{% endblock %}
  </div>

  {% include "__mobile_overlay.html" %}

  {% block javascript %}{% endblock %}

  <form style="display: none;"> {% csrf_token %} </form>
</body>
</html>