<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic,300,300italic'
          rel='stylesheet' type='text/css'>
  {% block head_javascript %}{% endblock %}
  {% block style_sheets %}{% endblock %}
  {% block libs_js%}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  {% endblock %}
  <script>
    function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

  </script>
</head>
<body>
  <div id="navbar">
    <div id="navbar__logo">Booklender</div>
    <div id="logout"></div>
  </div>
  <div id="content">
    {% block content %}{% endblock %}
  </div>

  {% block javascript %}{% endblock %}

  <form style="display: none;"> {% csrf_token %} </form>
</body>
</html>