{% extends "base.html" %}

{% load static %}

{% block head_javascript %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
{% endblock %}

{% block style_sheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/lending_page.css' %}">
{% endblock %}

{% block javascript %}
  <script src="{% static 'js/api.js' %}" type="text/javascript"></script>
  <script src="{% static 'js/lendingpage.js' %}" type="text/javascript"></script>
{% endblock %}
