<!DOCTYPE html>
<html ng-app="BookLender">
<head lang="en">
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <title></title>
</head>
<body ng-controller="BooksReadersController">

<div id="books">
    Book list
    <select ng-model="currentBookId" ng-change="onBookSelectionChange()">
        <option value="{{book.id}}" ng-repeat="book in books | orderBy:'title'">
            {{book.title}} - {{book.author}} - {{book.status}}
        </option>
    </select><br>

    Add new book:
    <form novalidate>
        Title: <input type="text" ng-model="title"><br>
        Author: <input type="text" ng-model="author"><br>
        <button ng-click="createABook(title, author)">Save</button>
    </form>
</div>

<div id="readers">
    Reader list
    <select ng-model="currentReaderId" ng-change="onReaderSelectionChange()">
        <option value="{{reader.id}}" ng-repeat="reader in readers | orderBy:'name'">
            {{reader.name}}
        </option>
    </select><br>

    Add new reader:
    <form novalidate>
        Name: <input type="text" ng-model="name"><br>
        <button ng-click="createAReader(name)">Save</button>
    </form>
</div>
<br>
<br>
<button ng-click="lendBookToReader()"> Lend It </button>

    <script src="/static/booklender.js"></script>
</body>
</html>