<!DOCTYPE html>
<html ng-app="BookLender">
<head lang="en">
    <meta charset="UTF-8">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic,300,300italic' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="/static/booklender.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/lendingpage.css">
    <title>Booklender</title>
</head>
<body ng-controller="BooksReadersController">

<div id="books-column" class="main-column">
    Add new book:
    <form novalidate>
        Title: <input type="text" ng-model="title"><br>
        Author: <input type="text" ng-model="author"><br>
        <button ng-click="createABook(title, author)">Save</button>
    </form>

    Book list
    <select ng-model="currentBookId" ng-change="onBookSelectionChange()">
        <option value="{{book.id}}" ng-repeat="book in books | orderBy:'title'">
            {{book.title}} - {{book.author}} - {{book.status}}
        </option>
    </select><br>

</div>

<div id="action-column"><button ng-click="lendBookToReader()"> Lend It </button></div>

<div id="readers-column" class="main-column">
    Add new reader:
    <form novalidate>
        Name: <input type="text" ng-model="name"><br>
        <button ng-click="createAReader(name)">Save</button>
    </form>

    Reader list
    <select ng-model="currentReaderId" ng-change="onReaderSelectionChange()">
        <option value="{{reader.id}}" ng-repeat="reader in readers | orderBy:'name'">
            {{reader.name}}
        </option>
    </select><br>

</div>
<br>
<br>

</body>
</html>