@import "raw";

#navbar {
  width: 100%;
  padding: 0 40px;
  text-align: center;
  height: 50px;
  border-bottom: solid 1px $bl_grey_border;
  margin-bottom: 60px;

  .logo {
    font-size: 31px;
    line-height: 50px;
    font-weight: bold;
    font-style: italic;
  }

}